.App-header {
  color: #61dafb;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(40px + 2vmin);
}
button {
  border: none;
  margin: 20px;
  color: #61dafb;
  font-size: 25px;
  padding: 18px 32px;
  background-color: #282c34;
  border: 2px solid #61dafb;
}
button:active {
  color: #282c34;
  background-color: #61dafb;
}

